* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  perspective: 10px;
  overflow-x: hidden;
  overflow-y:hidden;
  height: 100vh;
}

.container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  z-index: -1;
}

.background {
  transform: translateZ(-30px) scale(4);
}

.foreground {
  transform: translateZ(-25px) scale(2.6);
}

.background,.foreground {
  height: 150%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -1;
}

h1 {
  color: rgb(158, 117, 63);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  top: 5rem;
  font-size: 10rem;
  letter-spacing: 10px;
  text-shadow: 0 0 10px rgb(77, 7, 24);
}

section {
  background-color: rgb(45, 45, 45);
  color: white;
  padding: 5rem 0;
}

.bg1 {
  background-image: url(nuetron\ star.jpg);
}

.bg2 {
  background-image: url(nebula.jpg);
}

.bg3 {
  background-image: url(blackhole.jpg);
}

.bg4 {
  background-image: url(Binary\ star.jpg);
}

.ud1 {
  font-size: 5rem;
  padding: 0 10rem;
  position: absolute;
  padding: 0.5rem 2.5rem;
  top: 20%;
  left: 25%;
  background-color: rgb(45, 45, 45);
  font-style: unset;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text {
  font-size: 1.5rem;
  padding: 0 10rem;
  margin: 5rem 0;
}

.bg {
  position: relative;
  width: 100%;
  background-attachment: fixed;
  height: 500px;
  background-size: cover;
  background-position: center;
}

.ud2 {
  font-size: 5rem;
  padding: 0 10rem;
  position: absolute;
  padding: 0.5rem 2.5rem;
  top: 20%;
  left: 15%;
  background-color: rgb(45, 45, 45);
  font-style: unset;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ud3 {
  font-size: 5rem;
  padding: 0 10rem;
  position: absolute;
  padding: 0.5rem 2.5rem;
  top: 20%;
  left: 28%;
  background-color: rgb(45, 45, 45);
  font-style: unset;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}